---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <Hero />
  <main>
    <div class="h-96"></div>
  </main>
</Layout>
