---
import World from "@/assets/images/World.astro";
---

<section id="vision">
  <div
    class="flex flex-row justify-between w-full bg-[#2A2B27] overflow-hidden rounded-[3rem] h-[20rem] sm:h-[24rem] md:h-[28rem] lg:h-[34rem] xl:h-[40rem] relative"
  >
    <!-- WORLDS -->
    <div
      class="ml-[-12rem] sm:ml-[-11rem] md:ml-[-14rem] lg:ml-[-17rem] xl:ml-[-20rem] w-[20rem] sm:w-[24rem] md:w-[28rem] lg:w-[34rem] xl:w-[40rem] h-full"
    >
      <World />
    </div>
    <div
      class="mr-[-12rem] sm:ml-[-11rem] md:mr-[-14rem] lg:mr-[-17rem] xl:mr-[-20rem] w-[20rem] sm:w-[24rem] md:w-[28rem] lg:w-[34rem] xl:w-[40rem] h-full"
    >
      <World />
    </div>
    <!-- TEXT -->
    <div
      class="absolute flex flex-col justify-center items-center w-full h-full gap-3 sm:gap-3 md:gap-5 lg:gap-7 xl:gap-8"
    >
      <p
        class="text-white text-sm sm:text-lg md:text-2xl lg:text-3xl xl:text-3xl font-medium uppercase tracking-wider"
      >
        Nuestra <span class="font-black">Visión</span>
      </p>
      <p
        class="text-white text-lg sm:text-3xl md:text-[2.5rem] lg:text-5xl xl:text-6xl uppercase font-bold tracking-wide"
        style="font-family: sans-serif;"
      >
        Alcanzar. Enseñar. Enviar.
      </p>
      <div
        class="w-2/5 border border-white my-2 sm:my-3 md:my-4 lg:my-5 xl:my-5"
      >
      </div>
      <div
        class="text-white p-[1%] text-base sm:text-xl md:text-3xl lg:text-4xl xl:text-5xl font-extralight text-center tracking-wider leading-tight"
      >
        <h1>¡Eres bienvenido en Life Church Pachuca!</h1>
        <p>
          Aquí buscamos <span class="font-bold">ser y hacer iglesia</span> juntos,
        </p>
        <p>compartiendo la fe y el amor de Cristo.</p>
      </div>
    </div>
  </div>
</section>
