---
import Menu from "@/components/Menu.astro";
import "@fontsource-variable/dm-sans";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Bienvenidos a Life Church, una comunidad cristiana en Pachuca, Hidalgo. Únete a nosotros para adorar, aprender y crecer en la fe. Ofrecemos servicios, grupos de estudio bíblico y actividades para todas las edades. ¡Te esperamos!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicons/logo_blak.png" />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: "DM Sans Variable", sans-serif;
    background: #171717; /* Neutral 900 - Tailwind */
    color: white;
    scroll-behavior: smooth;
  }
  body.dark-mode #favicon {
    content: url("/favicons/logo_white.png");
  }

  .gradient-bg-hover {
    background-color: transparent;
  }

  .gradient-bg-hover:hover {
    background-image: linear-gradient(
      45deg,
      rgba(17, 17, 17, 0.2) 0%,
      rgba(17, 17, 17, 0.2) 66%
    );
  }
</style>
